/* шрифты */

@font-face {
  font-family: TTLakesSection;
  src: url(fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: TTLakes;
  src: url(fonts/TTLakes-Bold.ttf);
}

/* обнуление */

h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* разметка */

body {
  margin: 0px;
  background-color: #FFFFFF;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff3e79;
  border: none;
  padding: 0;
}

.btn:hover {
  filter: drop-shadow(0 0 3px black);
  transition-duration: 0.2s;
  opacity: 0.6;
  background-color: blue;
}

.menu {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  overflow: auto;
  box-shadow: 16px 0 52px rgb(14 24 80 / 20%);
  width: 320px;
}

::-webkit-scrollbar {
  display: none;
}


.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}

.nav {
  margin-left: 24px;
  height: 400px;
}

.nav__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  list-style: none;
  position: relative;
}



.nav_list--default::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 4px;
  left: -24px;
  top: -5px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav__link {
  display: block;
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  width: auto;
}

.nav__link:hover {
  color: #7E7E82;
}

.menu__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
  margin-left: 24px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 16px;
}

.footer__mail {
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-bottom: 12px;
}

.footer__number {
  line-height: 32px;
  font-family: 'TTLakes';
  height: 32px;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-bottom: 40px;
}

.footer__lang {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin-bottom: 32px;
}

.footer__lang--items {
  border: none;
  background: none;
  padding: 0;
  height: 24px;
  font-family: 'TTLakesSection';
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
}

.footer__lang--items:hover {
  color: #7E7E82;
}