/* шрифты */

@font-face {
  font-family: TTLakesSection;
  src: url(fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: TTLakes;
  src: url(fonts/TTLakes-Bold.ttf);
}

/* обнуление */

h1, p {margin: 0; padding: 0;}

a{
  text-decoration: none;
}

/* разметка */

body{
  margin: 0px;
  background-color: #FFFFFF;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}


.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff3e79;
  border: none;
  padding: 0;
}

.btn:hover{
  filter: drop-shadow(0 0 3px black);
  transition-duration: 0.2s;
  transform: scale(1.2);
  background-color: blue;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  overflow: auto;
  box-shadow: 16px 0 52px rgb(14 24 80 / 20%);
}

::-webkit-scrollbar { 
  display: none; 
}


.menu__header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18.73px;
  margin-bottom: 46px;
  margin-right: 24px;
  margin-left: 24px;
}

.image_pos{
  margin-top: 10px;
  margin-left: 10px;
}

.menu__logo{
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  left: 15px;
  margin-right: 80px;
}

.menu__items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0 16px 16px 16px;
  position: relative;
}

.menu__list{
  padding: 12px;
}

.menu_list--default::before{
  content: '';
  position: absolute;
  height: 32px;
  width: 4px;
  left: -15px;
  top: 5px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu__header--link{
  display: block;
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  width: auto;
}


.menu__header--link:hover{
  color: #7E7E82;
}

.menu__header--link:focus{
  color: #7E7E82;
}


.menu__footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
  margin-left: 24px;
}

.footer__contact{
  display: flex;
  flex-direction: column;
}

.footer__btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer__call,
.footer__chat{
  margin-right: 16px;
}

.footer__mail{
  line-height: 24px;
  font-family: 'TTLakesSection', sans-serif;
  height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-bottom: 12px;
}

.footer__number{
  line-height: 32px;
  font-family: 'TTLakes';
  height: 32px;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-bottom: 40px;
}

.footer__lang{
  margin-bottom: 32px;
}

.footer__lang--items{
  border: none;
  background: none;
  padding: 0;
  height: 24px;
  font-family: 'TTLakesSection';
  font-size: 16px;
  line-height: 24px;
  margin-right: 5px;
  color: #1B1C21;
}

.footer__lang--items:hover{
  color: #7E7E82;
}


.footer__lang--items:focus{
  color: #7E7E82;
}

